body {
   display: flex;
   align-items: center;
}

a {
   text-decoration: none;
   color: black;
   font-size: 2rem;
   font-weight: bold;
}

h1 {
   margin-left: 1rem;
}

a:hover {
   border-bottom: solid 1px;
   background: rgba(255, 0, 0, 0.418)
}

a:focus {
   background: red;
}

a:visited {
   color: blue ;
}

a:active {
   color: white;
}